LambdaCode/bitCoinPrice/bin
LambdaCode/bitCoinPrice/certifi
LambdaCode/bitCoinPrice/certifi-2024.7.4.dist-info
LambdaCode/bitCoinPrice/charset_normalizer
LambdaCode/bitCoinPrice/charset_normalizer-3.3.2.dist-info
LambdaCode/bitCoinPrice/idna
LambdaCode/bitCoinPrice/idna-3.7.dist-info
LambdaCode/bitCoinPrice/requests
LambdaCode/bitCoinPrice/requests-2.32.3.dist-info
LambdaCode/bitCoinPrice/urllib3
LambdaCode/bitCoinPrice/urllib3-2.2.2.dist-info
